@model SysPet.Models.UsuariosViewModel

@{
    ViewData["Title"] = "Delete";
}

<div class="col-md-6 offset-3">
    <h1>Eliminar Usuario</h1>

    <h3>¿Estas seguro de eliminar el usuario?</h3>

    <div>
        @Html.ActionLink("Ir a Usuarios", "Index", new {}, new { @class = "btn btn-primary" })
    </div>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Contrasenia)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Contrasenia)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Rol)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Rol)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Estado)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </form>
    </div>
</div>


