@model SysPet.Models.SalesViewModel


@{
    ViewData["Title"] = "Create";
}


<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Generar Venta</h4>
            <form asp-action="Create">
            
            
            <div class="table-head-sales mb-5">
                <div class="form-group">
                    <label asp-for="FechaVenta" class="control-label"></label>
                    <input asp-for="FechaVenta" class="form-control"/>
                    <span asp-validation-for="FechaVenta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CantidadArticulos" class="control-label"></label>
                    <input asp-for="CantidadArticulos" class="form-control" disabled/>
                    <span asp-validation-for="CantidadArticulos" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Total" class="control-label"></label>
                    <input asp-for="Total" class="form-control" disabled/>
                    <span asp-validation-for="Total" class="text-danger"></span>
                </div>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            
            @if (ViewData.ModelState.IsValid)
            {
                <div style="display:flex; justify-content:flex-end;align-items:flex-start;gap:24px;">
                    <a class="btn btn-outline-info btn-custom-color-info btn-custom-f" href="@Url.Action("Create", "Product", new {})">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-plus" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z" />
                                    <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z" />
                                    <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z" />
                                </svg>
                           Nuevo Artículo
                     </a>

                    <btn class="btn btn-outline-warning mb-4 btn-custom-f btn-custom-color-warning" id="agregarDetalle" onclick="agregarDetalle()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
                          <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                          <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
                        </svg>Añadir artículo
                    </btn>
                
                </div>
                <table class="table table-striped table-hover" id="detalleTabla">
                    <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Cantidad</th>
                            <th>Nombre del artículo</th>
                            <th>Precio Unitario</th>
                            <th>Total</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

                <div class="form-group button-section-create">
                    <button type="submit" class="btn btn-outline-success btn-lg btn-block btn-custom-color-success btn-custom-f">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy" viewBox="0 0 16 16">
                                <path d="M11 2H9v3h2V2Z" />
                                <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0ZM1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5Zm3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4v4.5ZM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5V15Z" />
                            </svg>
                            Guardar
                    </button>

                    <a class="btn btn-outline-danger btn-lg btn-block btn-custom-color-delete btn-custom-f" href="@Url.Action("Index", "Sales", new {})">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                            </svg>
                            Cancelar
                     </a>
                    
                </div>
            }
            else
            {
                <div>
                    <a class="btn btn-outline-info btn-lg btn-block btn-custom-color-info btn-custom-f" style="justify-content: center;" href="@Url.Action("Create", "Sales", new {})">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z" />
                            <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z" />
                            <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z" />
                            <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z" />
                        </svg>
                        Nueva Venta
                     </a>
                </div>
            }
            

        </form>
        </div>
    </div>
</div>


<script>

    var contadorDetalles = @Model.DetalleVenta.Count;

    function agregarDetalle() {
        var newRow = $("<tr>");
        var cols = "";
        
        cols += '<td><input id="Descripcion" type="text" class="form-control" name="DetalleVenta[' + contadorDetalles + '].Descripcion" disabled/></td>';
        cols += '<td><input id="Cantidad" type="text" class="form-control" name="DetalleVenta[' + contadorDetalles + '].Cantidad"/></td>';

        cols += '<td> <select name="DetalleVenta[' + contadorDetalles + '].IdProducto" class="form-control" id="productos" onchange="updateRows(this)"> <option value="">Seleccionar un artículo</option>';

            @foreach (var producto in Model.ListaProductos)
            {
                <text>
                    cols += '<option value="@producto.IdProducto" data-precio="@producto.PrecioSugerido" data-descripcion="@producto.Descripcion" data-total="@producto.Total">@producto.Nombre</option>'
                </text>
            }

        cols += '</select></td>';

        cols += '<td><input id="Precio" type="number" class="form-control" name="DetalleVenta[' + contadorDetalles + '].Precio" disabled/></td>';
        cols += '<td><input id="Total-item" type="number" class="form-control" name="DetalleVenta[' + contadorDetalles + '].Total" disabled /></td>';
        cols += '<td><a class="btn btn-outline-danger" onclick="eliminarDetalle(' + contadorDetalles + ')">Eliminar</a></td>';

        newRow.append(cols);
        $("table tbody").append(newRow);


        contadorDetalles++;
    }

    function eliminarDetalle(rowId) {
        $("table tbody tr").eq(rowId).remove();
    }

</script>

<script src="~/js/updaterows.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
