@model SysPet.Models.InternamientosViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="modal fade" id="detailModal-@Model.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Detalle del internamiento</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.FechaIngreso)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.FechaIngreso)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Medicamento)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Medicamento)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Antecedentes)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Antecedentes)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Tratamiento)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Tratamiento)
                    </dd>
                    
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Paciente)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Paciente)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Propietario)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Propietario)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Atendio)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Atendio)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Estado)
                    </dt>
                    @if (Model.State.Equals("Activo"))
                    {
                        <dd class="col-sm-8 badge-custom-success">
                            @Html.DisplayFor(model => model.State)
                        </dd>
                    }
                    @if (Model.State.Equals("Inactivo"))
                    {
                        <dd class="col-sm-8 badge-custom-danger">
                            @Html.DisplayFor(model => model.State)
                        </dd>
                    }
                    @if (Model.Imagen != null)
                    {

                        <dd class="col-sm-12" style="display: flex;justify-content: center;">
                            <img src="data:@Model.TipoContenido;base64,@(Convert.ToBase64String(Model.Imagen))" class="rounded-3" style="width: 200px;"
                                 alt="Imagen del Paciente" />
                        </dd>
                    }
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>

                <a class="btn btn-outline-secondary btn-custom-color-secondary btn-custom-color-secondary" href="@Url.Action("DownloadPdf", "Internment", new {id= Model.Id})">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z" />
                    </svg>
                    Descargar
                </a>
            </div>
        </div>
    </div>
</div>
