@model SysPet.Models.InternamientosViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="modal fade" id="detailModal-@Model.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Detalle del internamiento</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.FechaIngreso)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.FechaIngreso)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Medicamento)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Medicamento)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Antecedentes)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Antecedentes)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Tratamiento)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Tratamiento)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Estado)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Estado)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Paciente)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Paciente)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Propietario)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Propietario)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Atendio)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Atendio)
                    </dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>

                <a class="btn btn-outline-info btn-custom-color-delete btn-custom-color-info" href="@Url.Action("PDF", "Internment", new {id= Model.Id})">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
                    </svg>
                    Descargar
                </a>
            </div>
        </div>
    </div>
</div>
