@model IEnumerable<SysPet.Models.InternamientosViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="fw-normal mb-3 pb-3">Internamientos</h1>

<div class="btn-head custom-tooltip">
    <a class="btn btn-outline-primary btn-image" href="@Url.Action("Create", "Internment", new {})">
        <img src="../icons/plus-square.svg" alt="Nuevo Internamiento">
        <span class="custom-tooltip-text-head">Nuevo Internamiento</span>
    </a>
</div>

@if (Model != null && Model.Any())
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FechaIngreso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Medicamento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tratamiento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Paciente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Propietario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Atendio)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaIngreso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Medicamento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tratamiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Paciente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Propietario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Atendio)
                    </td>
                    <td>
                        <a class="btn btn-outline-primary custom-tooltip" href="@Url.Action("Edit", "Internment", new { id = item.Id })">
                            <img src="../icons/pencil-square.svg" alt="Editar">
                            <span class="custom-tooltip-text">Editar</span>
                        </a>

                        <a class="btn btn btn-outline-info custom-tooltip" href="@Url.Action("Details", "Internment", new { id = item.Id })">
                            <img src="../icons/view-list.svg" alt="Detalle">
                            <span class="custom-tooltip-text-detail">Detalle</span>
                        </a>

                        <a class="btn btn-outline-danger custom-tooltip" href="@Url.Action("Delete", "Internment", new { id = item.Id })">
                            <img src="../icons/x-square.svg" alt="Eliminar">
                            <span class="custom-tooltip-text-delete">Eliminar</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    @section Scripts { @{ await Html.RenderPartialAsync("EmptyData", new { Url = ViewBag.Url }); } }
}
