@model SysPet.Models.PersonasViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="modal fade" id="detailModal-@Model.IdPersona" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Detalle del doctor</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Apellidos)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Apellidos)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Ciudad)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Ciudad)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.CodigoPostal)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.CodigoPostal)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Telefono)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Telefono)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Estado)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Estado, new { @class = "form-check-input chek-disabled" })
                    </dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
