@model IEnumerable<SysPet.Models.DepartamentosViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Departamentos</h1>

<p>
    @Html.ActionLink("Agregar Departamento", "Create", new{}, new { @class = "btn btn-primary" })
</p>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id=item.IdDepartamento }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Detalle", "Details", new { id=item.IdDepartamento }, new { @class = "btn btn-info" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    @section Scripts { @{ await Html.RenderPartialAsync("EmptyData", new { Url = ViewBag.Url }); } }
}
