@model SysPet.Models.PersonasViewModel

@{
    ViewData["Title"] = "Delete";
}

<div class="col-md-6 offset-3">
    <h1>Eliminar Cliente</h1>

    <h3>¿Estas seguro de eliminar el cliente?</h3>

    <div>
        <div>
            @Html.ActionLink("Ir a Clientes", "Index", new {}, new { @class = "btn btn-primary" })
        </div>
    </div>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Apellidos)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Apellidos)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Ciudad)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Ciudad)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.CodigoPostal)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.CodigoPostal)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Telefono)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Estado)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </form>
    </div>

</div>

