@model SysPet.Models.MascotasViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="modal fade" id="detailModal-@Model.IdPaciente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Detalle de la mascota</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Raza)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Raza)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Especie)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Especie)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Sexo)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Sexo)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Edad)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Edad)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Color)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Color)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Peso)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Peso)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Estado)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Estado, new { @class = "form-check-input chek-disabled" })
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Fecha)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Fecha)
                    </dd>
                    @if (Model.Imagen != null)
                    {
                        <dt class="col-sm-4" style="display: flex;align-items: center;">
                            @Html.DisplayNameFor(model => model.Imagen)
                        </dt>
                        <dd class="col-sm-8">
                            <img src="data:@Model.TipoContenido;base64,@(Convert.ToBase64String(Model.Imagen))" class="rounded-3" style="width: 200px;" 
                            alt="Imagen del Paciente" />
                        </dd>
                    }
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
