@model IEnumerable<SysPet.Models.MascotasViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Mascotas</h1>

<p>
    @Html.ActionLink("Agregar Mascota", "Create", new{}, new { @class = "btn btn-primary" })
</p>

@if (Model != null && Model.Any())
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Raza)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sexo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Edad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Peso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Propietario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Raza)
                    </td>
                   <td>
                        @Html.DisplayFor(modelItem => item.Sexo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Edad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Peso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Propietario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id=item.IdPaciente }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Detalle", "Details", new { id=item.IdPaciente }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Eliminar", "Delete", new { id=item.IdPaciente }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    @section Scripts { @{ await Html.RenderPartialAsync("EmptyData", new { Url = ViewBag.Url }); } }
}


