@model SysPet.Models.HistorialesViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="modal fade" id="detailModal-@Model.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Detalle del historial</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.FechaVisita)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.FechaVisita)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Motivo)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Motivo)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Diagnostico)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Diagnostico)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Paciente)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Paciente)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.FullName)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.FullName)
                    </dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
