@model IEnumerable<SysPet.Models.HistorialesViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaVisita)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Motivo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Diagnostico)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdPaciente)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaVisita)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Motivo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Diagnostico)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdPaciente)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    @Html.PartialAsync("EmptyData", new { Url = ViewBag.Url})
}
