@model SysPet.Models.ProductosViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="modal fade" id="detailModal-@Model.IdProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Detalle del artículo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.FechaIngreso)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.FechaIngreso)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Proveedor)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Proveedor)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Cantidad)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Cantidad)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Stock)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Stock)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.PrecioUnitario)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.PrecioUnitario)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.PrecioSugerido)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.PrecioSugerido)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Descripcion)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.FechaVencimiento)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.FechaVencimiento)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Estado)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Estado)
                    </dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>