@model SysPet.Models.CitasViewModel

<div class="modal fade" id="detailModal-@Model.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Detalle de la Cita</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="vistaParcialContainer">
                <dl class="row">
                    <dt class="col-sm-6 mb-2">
                        @Html.DisplayNameFor(model => model.FechaCita)
                    </dt>
                    <dd class="col-sm-6 mb-2">
                        @Html.DisplayFor(model => model.FechaCita)
                    </dd>
                    <dt class="col-sm-6 mb-2">
                        @Html.DisplayNameFor(model => model.Motivo)
                    </dt>
                    <dd class="col-sm-6 mb-2">
                        @Html.DisplayFor(model => model.Motivo)
                    </dd>
                    <dt class="col-sm-6 mb-2">
                        @Html.DisplayNameFor(model => model.NombreCompleto)
                    </dt>
                    <dd class="col-sm-6 mb-2">
                        @Html.DisplayFor(model => model.NombreCompleto)
                    </dd>
                    <dt class="col-sm-6 mb-2">
                        @Html.DisplayNameFor(model => model.Estado)
                    </dt>
                    @if (Model.Estado.Equals("Activa"))
                    {
                        <dd class="col-sm-6 badge-custom-success">
                            @Html.DisplayFor(model => model.Estado)
                        </dd>
                    }
                    @if (Model.Estado.Equals("Cancelada"))
                    {
                        <dd class="col-sm-6 badge-custom-danger">
                            @Html.DisplayFor(model => model.Estado)
                        </dd>
                    }
                    else
                    {
                        @if (Model.Estado.Equals("Reagendada"))
                        {
                            <dd class="col-sm-6 badge-custom-info">
                                @Html.DisplayFor(model => model.Estado)
                            </dd>
                        }
                    }
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>