@model SysPet.Models.CitasViewModel

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Detalle de la cita</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <dl class="row">
                        <dt class="col-sm-4 mb-4">
                            @Html.DisplayNameFor(model => model.FechaCita)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.FechaCita)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Motivo)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Motivo)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Nombre)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Nombre)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Apellidos)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Apellidos)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Estado)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Estado)
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    <img src="../icons/x-square.svg" alt="Cerrar">
                    <span class="custom-tooltip-text">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>
