@model SysPet.Models.CitasViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="col-md-6 offset-3">
    <h1 class="fw-normal mb-3 pb-3">Editar Cita</h1>

    <div>
        @Html.ActionLink("Ir a Citas", "Index", new {}, new { @class = "btn btn-primary btn-lg btn-block" })
    </div>

    <div class="row">
        <div class="col-md-8">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-outline mb-4">
                    <label asp-for="FechaCita" class="control-label col-md-4"></label>
                    <input asp-for="FechaCita" class="form-control form-control-lg" />
                    <span asp-validation-for="FechaCita" class="text-danger"></span>
                </div>
                <div class="form-outline mb-4">
                    <label asp-for="Motivo" class="control-label col-md-4"></label>
                    <input asp-for="Motivo" class="form-control form-control-lg" />
                    <span asp-validation-for="Motivo" class="text-danger"></span>
                </div>
                <div class="form-outline mb-4">
                    @Html.LabelFor(model => model.IdEstado, "Estado", new { @class = "control-label col-md-4" })
                    @Html.DropDownListFor(model => model.IdEstado, Model.EstadoCitas,"Seleccionar un estado", new { @class = "form-control form-control-lg" })
                    @Html.ValidationMessageFor(model => model.IdEstado)
                </div>

                <div class="form-outline mb-4 btn-groups">
                    <button type="submit" class="btn btn-outline-success btn-lg btn-block custom-tooltip">
                        <img src="../icons/floppy.svg" alt="Guardar">
                        <span class="custom-tooltip-text">Guardar</span>
                    </button>
                    <a class="btn btn-outline-danger btn-lg btn-block custom-tooltip" href="@Url.Action("Index", "Appointment", new {})">
                        <img src="../icons/x-square.svg" alt="Cancelar">
                        <span class="custom-tooltip-text">Cancelar</span>
                    </a>
                </div>
            </form>
        </div>
    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
